{% extends 'single/base.html' %}

{% block content %}
    <p class="infotext">Upload a new file, or download the current one.
        Use the buttons below, or drag and drop a new file. Uploading a new file will 
        automatically redirect you to the new file's page on upload completion. If you want
        to store multiple files in one place, use a storage room instead. Visit the 
        <a href="/about/site">About Site</a> page for more information.</p>

    <div id="menu-id" class="menu">
        <div id="menu-upload-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/upload-dark.png">
            <div class="menutext">Upload</div>
        </div>
        <div id="menu-download-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/download-dark.png">
            <div class="menutext">Download</div>
        </div>
    </div>

    <div id="button-list-id">
        <button id="upload-modal-button-id" class="modal-open-button">Upload</button>
        <button id="download-modal-button-id" class="modal-open-button">Download</button>
    </div>

    <div id="modal-list-id">
        <div id="upload-modal-id" class="modal">
            <div id="upload-modal-content-id" class="modal-content">
                <p>Upload a single file. After the file is done uploading, 
                    you will be navigated to the file's location.</p>
                <div>
                    {% csrf_token %}
                    {{ form }}
                    <input type="file" id="upload-file-id">
                    <button type="submit" id="upload-file-button-id" class="modal-button">Upload File(s)</button>
                </div>
                <br>
                <button id="upload-cancel-id" class="modal-button">Cancel</button>
            </div>
        </div>
    
        <div id="download-modal-id" class="modal">
            <div id="download-modal-content-id" class="modal-content">
                <p>Download selected files from DashUtil to the specified directory 
                    on your computer.</p>
                <br>
                <button id="download-button-id" class="modal-button">Download</button>
                <button id="download-cancel-id" class="modal-button">Cancel</button>
            </div>
        </div>

        <div id="progress-modal-id" class="modal">
            <div id="progress-modal-content-id" class="modal-content">
                <p id="progress-modal-text-id">temporary</p>

                <button id="progress-ok-id" class="modal-button">OK</button>
            </div>
        </div>
        
        <div id="error-modal-id" class="modal">
            <div id="error-modal-content-id" class="modal-content">
                <p> Error! </p>
                <br>
                <p id="error-modal-text-id">temporary</p>
                <br>
                <button id="error-ok-id" class="modal-button">OK</button>
            </div>
        </div>
    </div>

    <div class="headerobj">
        <div class="file-info-container">
            <div class="file-info-left">
                <div id="name-sort-id" class="file-info-name">
                    <h4>Filename</h4>
                </div>
            </div>
            <div class="file-info-right">
                <div id="modify-sort-id" class="file-info-date">
                    <h4>Last Modified</h4>
                </div>
                <div id="create-sort-id" class="file-info-date">
                    <h4>Created</h4>
                </div>
                <div id="size-sort-id" class="file-info-size">
                    <h4>Size</h4>
                </div>
            </div>
        </div>
    </div> 

    <div id="file-list-id" class="file-list">
        <div id="file-id"></div>
    </div>
{% endblock %}