
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Django stuff:
*.log
*.pot

# Byte-compiled / optimized / DLL files
dashutil/dashutil/__pycache__/
*.py[cod]

# Environment files
*.env
env_ignore.py

#VSCode files
.vscode
.vscode/*