/* home page specific css stylings goes here - dark theme */
/* idea modified from https://codepen.io/AlbertFeynman/pen/BPvzWZ */

body.dark-theme .search-box-container .search { 
  background: #ff6523;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
  /* // box-shadow: 0 0 25px 0 #ff6523; */
}
body.dark-theme .search-box-container .search::before { 
  background: white;
}
body.dark-theme .search-box-container .search::after { 
  border: 2px solid white;
}
body.dark-theme .search-box-container input {
  /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: #ff6523;
  color: white;
  text-shadow: 0 0 10px #ff6523;
  box-shadow: 0 0 2px 0 #ff6523, 0 5px 6px 0 rgba(0, 0, 0, 0.0);
  /* // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
}
body.dark-theme .search-box-container input:hover {
  background-color: #d1480c;
} 
body.dark-theme .search-box-container input:focus {
  background-color: #d1480c;
}
body.dark-theme .search-box-container input.expanded { 
  box-shadow: 0 0 10px 0 #ff6523, 0 20px 25px 0 rgba(0, 0, 0, 0.3);
}
body.dark-theme .search-box-container input.expanded ~ .search.expanded { 
  background: #151515;
}
body.dark-theme .search-box-container input.expanded ~ .search::after {
  background: white;
}
body.dark-theme .search-box-container input::placeholder {
  color: white;
}


/* Create and find buttons */
body.dark-theme .search-box-container #new-search-id {
  color: white;
  text-decoration-color: white;
}

body.dark-theme .search-box-container .search-button {
  color: white;
  background-color: #ff6523;
  text-decoration-color: white;
  box-shadow: 0 0 2px 0 #ff6523, 0 5px 6px 0 rgba(0, 0, 0, 0.0);
}
body.dark-theme .search-box-container input.expanded ~ .search-button.expanded {
  box-shadow: 0 0 8px 0 #ff6523, 0 20px 25px 0 rgba(0, 0, 0, 0.3);
}
body.dark-theme .search-box-container .search-button.expanded:hover {
  background-color: #d1480c;
}
body.dark-theme .search-box-container .search-button.expanded:focus {
  background-color: #d1480c;
}
