<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="public/ico/favicon.ico"> -->

        <title>DashUtil</title>

        <!-- Bootstrap core CSS --> 
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" >
        
        <!-- Custom styles for this template -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-container">
            <a id="navbar-logo-id" class="navbar-brand" onfocus="hoverLogo()" onblur="unhoverLogo()" href="/">
                <img id="logo-id" class="light-logo" src="{% static '/img/logo-light-orange.png' %}" onmouseover="hoverLogo()" onmouseout="unhoverLogo()">
                <p id="logo-text-id" class="logo-text" onmouseover="hoverLogo()" onmouseout="unhoverLogo()">Dashutil</p>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a id="first-element-after-logo" class="nav-item nav-link active" href="#">About<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">API</a>
                </div>
            </div>
        </nav>






        <div id="search-box" class="search-box-container" onclick="expandSearchBox()">
            <input id="input-text" type="text" placeholder="Find Room...">
            <div id="search-icon" class="search" onclick="contractSearchBox()"></div>

            <a id="search-button" href="#" class="search-button"><span id="old-search">Search</span></a>       
        </div>
        
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        {% load static %}
        <script src="{% static '/js/search.js' %}" type="text/javascript"></script>
    </body>
</html>