<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="public/ico/favicon.ico"> -->

        <title>DashUtil</title>

        <!-- Bootstrap core CSS 
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" > -->
        
        <!-- Custom styles for this template -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">

    </head>
    <body>
        <div id="search-box" class="search-box-container" onclick="expand()">
            <input id="input-text" type="text" placeholder="Find Room...">
            <div id="search-icon" class="search" onclick="contract()"></div>

            <a id="find-button" href="/storage" class="find-button"><span id="old-find">Find</span></a>
            <a id="create-button" href="/about" class="create-button"><span id="old-create">Create</span></a>         
        </div>  
    </body>

    <script>
    function expand() {
        var searchBox = document.getElementById("search-box");
        var searchIcon = document.getElementById("search-icon");
        var inputText = document.getElementById("input-text");
        var createButton = document.getElementById("create-button");
        var findButton = document.getElementById("find-button");
        var oldFind = document.getElementById("old-find");
        var oldCreate = document.getElementById("old-create");

        if (searchBox.classList.contains("prev")) {
            searchBox.classList.remove("prev");
            searchIcon.classList.remove("prev");
            inputText.classList.remove("prev");
            createButton.classList.remove("prev");
            findButton.classList.remove("prev");
        }
        else if (!searchBox.classList.contains("expanded")) {
            console.log("Expand box");

            searchBox.classList.add("expanded");
            searchIcon.classList.add("expanded");
            inputText.classList.add("expanded");
            createButton.classList.add("expanded");
            findButton.classList.add("expanded");
            oldFind.id = "new-find";
            oldCreate.id = "new-create";
        }

        
    }

    function contract() {
        var searchBox = document.getElementById("search-box");
        var searchIcon = document.getElementById("search-icon");
        var inputText = document.getElementById("input-text");
        var createButton = document.getElementById("create-button");
        var findButton = document.getElementById("find-button");
        var newFind = document.getElementById("new-find");
        var newCreate = document.getElementById("new-create");

        if (searchBox.classList.contains("expanded")) {
            console.log("Contract box");

            searchBox.classList.remove("expanded");
            searchIcon.classList.remove("expanded");
            inputText.classList.remove("expanded");
            createButton.classList.remove("expanded");
            findButton.classList.remove("expanded");

            searchBox.classList.add("prev");
            searchIcon.classList.add("prev");
            inputText.classList.add("prev");
            createButton.classList.add("prev");
            findButton.classList.add("prev");
            newFind.id = "old-find";
            newCreate.id = "old-create";    
        }
            
    }
    </script>
</html>