<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="public/ico/favicon.ico"> -->

        <title>DashUtil</title>

        <!-- Bootstrap core CSS 
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" > -->
        
        <!-- Custom styles for this template -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">

    </head>
    <body>
        <div id="search-box" class="search-box-container">
            <input id="input-text" type="text" placeholder="Find Room...">
            <div class="search"></div>
            
            <a href="/storage" class="create-button">Create</a>
            <a href="/about" class="find-button">Find</a>
        </div>
        
    </body>

    <script>
    function showButtons() {
        var homeButtons = document.getElementById("home-buttons");
        /*
        setTimeout(function() {
            var inputTextWidth = document.getElementById("input-text")
            .getBoundingClientRect().width;

            if (inputTextWidth > 101 ) {
                homeButtons.style.display = "block";
            } else {
                homeButtons.style.display = "none";
            }
        }, 300);
        */
    }
    </script>
</html>