/* general.css */


@import url('https://fonts.googleapis.com/css?family=Fira+Sans');



html, body {
    width: 100%;
    height: 100%;
}


/* Navbar */
.navbar-container {
    position: relative;
    margin: auto;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: auto;
}


/* Logo */
#logo-img-id {
    position: relative;
    margin: 0;
    padding: 0;
}
.navbar-container .navbar-brand img {
    position: relative;
    height: 70px ;
    width: 70px;
    left: 0;
    z-index: 8;
}
.navbar-container .navbar-brand .logo-text {
    position: absolute; 
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    z-index: 8;
    text-decoration: none;
    display: inline-block;
}


/* Navbar collapser icon */
.navbar-container .navbar-toggler { 
    margin-left: auto;
    margin-right: 20px;
    outline: 0;
}
.navbar-container .navbar-toggler.collapsed {
    margin-left: auto;
    margin-right: 20px;
}


/* Navbar links, not logo */
.navbar-container .navbar-collapse.collapse {
	position: relative;
	margin-left: auto;
	margin-right: 20px;
}
.navbar-container .navbar-collapse.collapsing {
	position: relative;
	margin-left: auto;
	margin-right: 20px;
}
.navbar-container .navbar-nav {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    z-index: 7;
}
.navbar-container .navbar-nav .nav-item {
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}


/* Navbar dropdown */ 
.navbar-container .navbar-nav .dropdown-menu {
    
}
.navbar-container .navbar-nav .dropdown-menu.show {
    width: 200px;
    z-index: 9;
    left: -60px;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 8px;
}


/* Theme toggler */
.navbar-container .theme-toggler {
    outline: 0;
    margin-left: auto;
}
.navbar-container .theme-toggler img {
    outline: 0;
    position: relative;
    width: 40px;
    height: 40px;
}
.navbar-container img:hover {
    cursor: pointer;
}


/* Modal for informational/error messages */
.modal-open-button {
    border: 0;
    padding: 2px 7px;
}
.modal-open-button:focus {
    outline: 0;
}
.modal-open-button:hover {
    cursor: pointer;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
/* Modal Content/Box */
.modal .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Modal interior button */
.modal .modal-content .modal-button {
    display: inline-block;
    outline: 0;
    max-width: 200px;
    margin-top: 15px;
    border: 0;
    padding: 2px 7px;
}
.modal .modal-content .modal-button:hover {
    cursor: pointer;
}
