/* general.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  min-width: 580px;
}


/* Navbar */
.navbar-container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  height: 100px;
}


/* Logo */
.navbar-container .navbar-brand img {
  height: 70px ;
  width: 70px;
  left: 0;
}
.navbar-container .navbar-brand .logo-text {
  position: absolute; 
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.navbar-container .navbar-brand:focus {
  outline: 0;
}


/* Navbar collapser */
.navbar-container .navbar-toggler {
  outline: 0;
}
.navbar-container .navbar-toggler .navbar-toggler-icon {
  outline: 0;
}
.navbar-container .navbar-toggler:hover {
  outline: 0;
}
.navbar-container .navbar-toggler .navbar-toggler-icon:hover {
  outline: 0;
}
.navbar-container .navbar-toggler:focus {
  outline: 0;
}
.navbar-container .navbar-toggler .navbar-toggler-icon:focus {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed .navbar-toggler-icon {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed:hover {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed .navbar-toggler-icon:hover {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed:focus {
  outline: 0;
}
.navbar-container .navbar-toggler.collapsed .navbar-toggler-icon:focus {
  outline: 0;
}


/* Navbar links, not logo */
.navbar-container .navbar-nav {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  z-index: 7;
}
.navbar-container .navbar-nav .nav-item {
  font-family: 'Fira Sans', sans-serif;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}
.navbar-container .navbar-nav .nav-item .nav-link:hover {
  outline: 0;
}
.navbar-container .navbar-nav .nav-item .nav-link:focus {
  outline: 0;
}




/* Navbar dropdown */ 
.navbar-container .navbar-nav .dropdown-menu {
  z-index: 7;
}
.navbar-container .navbar-nav .dropdown-menu.show {
  width: 200px;
  z-index: 8;
  left: -50px;
}
.navbar-container .navbar-nav .nav-item.dropdown.show {
  margin-left: auto;
}
.navbar-container .navbar-nav .nav-item.dropdown.show .dropdown-item:hover {
  outline: 0;
}
.navbar-container .navbar-nav .nav-item.dropdown.show .dropdown-item:focus {
  outline: 0;
}


/* Theme toggler */
.navbar-container .theme-toggler {
  margin-left: 20px;
  margin-right: 10px;
}
.navbar-container .theme-toggler img {
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.navbar-container img:hover {
  cursor: pointer;
}
.navbar-container .theme-toggler img:focus {

}
