/* Dark theme stylings go here */


/* Establish variables for dark theme, background dark grey */
body.dark-theme {
    --background-color: #252525;
    --text-color: white;
    --text-hover-color: #d6d6d6;
    --toggle-image-color: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --toggle-image-hover-color: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214,214,214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --dropdown-menu-background-color: #161616;
    --dropdown-menu-background-hover-color: #848484;
    --dropdown-menu-shadow: 0px 5px 15px 0 rgba(255, 255, 255, 0.1);

    --modal-background-color: var(--dropdown-menu-background-color);
    --modal-button-color: var(--dropdown-menu-background-color);
    --modal-button-hover-color: var(--dropdown-menu-background-hover-color);

    --modal-shadow-background-color: rgb(255, 255, 255); /* Fallback color */
    --modal-shadow-background-color-backup: rgba(255, 255, 255, 0.1); /* white w/ opacity */

    background: var(--background-color);
}


/* Logo */
body.dark-theme .navbar-container .navbar-brand .logo-text {
    color: var(--text-color);
}
body.dark-theme .navbar-container .navbar-brand:hover .logo-text {
    color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-brand:focus .logo-text {
    color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-brand .logo-text:hover {
    color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-brand .logo-text:focus {
    color: var(--text-hover-color);
}


/* Navbar collapser icon - uncollapsed */
body.dark-theme .navbar-container .navbar-toggler {
    border-color: var(--text-color);
}
body.dark-theme .navbar-container .navbar-toggler .navbar-toggler-icon {
    background-image: var(--toggle-image-color);
}
body.dark-theme .navbar-container .navbar-toggler:hover {
    border-color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler:hover .navbar-toggler-icon {
    background-image: var(--toggle-image-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler:focus {
    border-color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler:focus .navbar-toggler-icon {
    background-image: var(--toggle-image-hover-color);
}


/* Navbar collapser icon - collapsed */
body.dark-theme .navbar-container .navbar-toggler.collapsed {
    border-color: var(--text-color);
}
body.dark-theme .navbar-container .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: var(--toggle-image-color);
}
body.dark-theme .navbar-container .navbar-toggler.collapsed:hover {
    border-color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler.collapsed:hover .navbar-toggler-icon {
    background-image: var(--toggle-image-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler.collapsed:focus {
    border-color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-toggler.collapsed:focus .navbar-toggler-icon {
    background-image: var(--toggle-image-hover-color);
}


/* Navbar links, not logo */
body.dark-theme .navbar-container .navbar-nav .nav-item .nav-link {
    color: var(--text-color);
    text-decoration-color: var(--text-color);
}
body.dark-theme .navbar-container .navbar-nav .nav-item .nav-link:hover {
     color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-nav .nav-item .nav-link:focus {
    color: var(--text-hover-color);
}
body.dark-theme .navbar-container .navbar-nav .dropdown-menu.show {
    background-color: var(--dropdown-menu-background-color);
    box-shadow: var(--dropdown-menu-shadow);
}
body.dark-theme .navbar-container .navbar-nav .nav-item.dropdown.show .dropdown-item {
    color: var(--text-color);
}
body.dark-theme .navbar-container .navbar-nav .nav-item.dropdown.show .dropdown-item:hover {
    background-color: var(--dropdown-menu-background-hover-color);
}
body.dark-theme .navbar-container .navbar-nav .nav-item.dropdown.show .dropdown-item:focus {
    background-color: var(--dropdown-menu-background-hover-color);
}


/* Modal buttons */
body.dark-theme .modal-open-button {
    color: var(--text-color);
    background-color: var(--modal-button-color);
}
body.dark-theme .modal-open-button:hover {
    background-color: var(--modal-button-hover-color);
}
body.dark-theme .modal-open-button:focus {
    background-color: var(--modal-button-hover-color);
}

body.dark-theme .modal {
    background-color: var(--modal-shadow-background-color);
    background-color: var(--modal-shadow-background-color-backup);
}
body.dark-theme .modal .modal-content {
    background-color: var(--modal-background-color);
}
body.dark-theme .modal .modal-content p {
    color: var(--text-color);
}
body.dark-theme .modal .modal-content .modal-button {
    color: var(--text-color);
    background-color: var(--modal-button-color);
}
body.dark-theme .modal .modal-content .modal-button:hover {
    color: var(--text-hover-color);
    background-color: var(--modal-button-hover-color);
}
body.dark-theme .modal .modal-content .modal-button:focus {
    color: var(--text-hover-color);
    background-color: var(--modal-button-hover-color);
}