/* Dark theme stylings go here */


/* Background dark grey */
body.body-dark-theme {
  background: #252525;
}


/* Logo */
.navbar-container.navbar-dark-theme .navbar-brand .logo-text {
  color: white;
}
.navbar-container.navbar-dark-theme .navbar-brand:focus .logo-text {
  color: #d6d6d6;
}
.navbar-container.navbar-dark-theme .navbar-brand .logo-text:hover {
  color: #d6d6d6;
}
.navbar-container.navbar-dark-theme .navbar-brand .logo-text:focus {
  color: #d6d6d6;
}


/* Navbar links, not logo */
.navbar-container.navbar-dark-theme .navbar-nav .nav-item .nav-link {
  color: white;
  text-decoration-color: white;
}
.navbar-container.navbar-dark-theme .navbar-nav .nav-item .nav-link:hover {
  color: #d6d6d6;
}
.navbar-container.navbar-dark-theme .navbar-nav .nav-item .nav-link:focus {
  color: #d6d6d6;
}
