{% extends 'storage/base.html' %}

{% block content %}
    <p class="infotext">Upload, download, and interact with files in a directory-like fashion.
        Use the buttons below, or drag and drop. Visit the 
        <a href="/about/site">About Site</a> page for more information.</p>

    <div id="menu-id" class="menu">
        <div id="menu-upload-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/upload-dark.png">
            <div class="menutext">Upload</div>
        </div>
        <div id="menu-download-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/download-dark.png">
            <div class="menutext">Download</div>
        </div>
        <div id="menu-folder-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/new-folder-dark.png">
            <div class="menutext">New Folder</div>
        </div>
        <div id="menu-rename-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/rename-dark.png">
            <div class="menutext">Rename</div>
        </div>
        <div id="menu-delete-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/delete-trash-dark.png">
            <div class="menutext">Delete</div>
        </div>
        <div id="menu-move-id" class="menu-item">
            <img class="menuico" src="/static/img/menuico/move-dark.png">
            <div class="menutext">Move</div>
        </div>
    </div>

    <div id="main-id">
        <div id="button-list-id">
            <button id="upload-modal-button-id" class="modal-open-button">Upload</button>
            <button id="download-modal-button-id" class="modal-open-button">Download</button>
            <button id="directory-modal-button-id" class="modal-open-button">New Folder</button>
            <button id="rename-modal-button-id" class="modal-open-button">Rename</button>
            <button id="delete-button-id" class="modal-open-button">Delete</button>
            <button id="move-button-id" class="modal-open-button">Move</button>
        </div>

        <div id="modal-list-id">
            <div id="upload-modal-id" class="modal">
                <div id="upload-modal-content-id" class="modal-content">
                    <p>Upload files to the specified DashUtil directory from 
                        your computer.</p>
                    <p>If no directory is specified, files will be uploaded to the
                        top level.</p>
                    <p>If a non-directory file is specified, the file will be uploaded 
                        to that file's parent directory.</p>
                    <p>Please choose only one destination, I am poor.</p>
                    <br>
                    <p>You can choose multiple file(s) to upload.</p>
                    <div>
                        {% csrf_token %}
                        {{ form }}
                        <input type="file" id="upload-file-id" multiple>
                        <button type="submit" id="upload-file-button-id" class="modal-button">Upload File(s)</button>
                    </div>
                    <br>
                    <p>Or, you can choose a directory. It and all of its contents
                        will be uploaded. As a warning, this feature is currently 
                        supported only in select browsers (Chrome, Firefox, Edge, 
                        Android webview), and may not function as intended outside
                        of them. Also, empty directories will not be copied. This is
                        due to the way the inbuilt API handles directory uploads; it
                        attaches relative paths to specific files, so empty directories
                        are skipped over.</p>
                    <div>
                        {% csrf_token %}
                        {{ form }}
                        <input type="file" id="upload-dir-id" webkitdirectory mozdirectory 
                        msdirectory odirectory directory multiple>
                        <button type="submit" id="upload-dir-button-id" class="modal-button">Upload Directories</button>
                    </div>
                    <br><br>
                    <p>Currently, only one directory can be uploaded via the directory
                        picker, and it has to be done separately from actual files. This 
                        is, as far as I can tell, a limitation of the file choosing system.
                        If you want to upload more than one directory/file at 
                        a time, you can do so from your file system by choosing multiple files 
                        and directories, and then dragging and dropping
                        to the directory of your choice. Again, empty directories won't be copied over.</p>
                    <button id="upload-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>
        

            <div id="download-modal-id" class="modal">
                <div id="download-modal-content-id" class="modal-content">
                    <p>Download selected files from DashUtil to the specified directory 
                        on your computer.</p>
                    <br>
                    <button id="download-button-id" class="modal-button">Download</button>
                    <button id="download-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>


            <div id="directory-modal-id" class="modal">
                <div id="directory-modal-content-id" class="modal-content">
                    <p>A new folder will be created within the selected folder. If a 
                        file is selected, the new folder will be placed in the same 
                        folder as the file. If nothing is selected, the folder will
                        be placed at the highest level. Please select only one location.</p>
                    <br>
                    <p>Name of new folder:</p>
                    <input id="directory-text-id" type="text"></input>
                    <br>
                    <button id="directory-ok-id" class="modal-button">OK</button>
                    <button id="directory-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>

            
            <div id="rename-modal-id" class="modal">
                <div id="rename-modal-content-id" class="modal-content">
                    <p> All selected files will be renamed.</p>
                    <br>
                    <p>Rename selected file(s) to:</p>
                    <input id="rename-text-id" type="text"></input>
                    <br>
                    <button id="rename-ok-id" class="modal-button">OK</button>
                    <button id="rename-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>

            
            <div id="delete-modal-id" class="modal">
                <div id="delete-modal-content-id" class="modal-content">
                    <p>All specified files, directories, and their contents will be deleted.</p>
                    <p>You will not be able to recover them.</p>
                    <br>
                    <p>Are you sure you want to delete the file(s)?</p>
                    <button id="delete-ok-id" class="modal-button">OK</button>
                    <button id="delete-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>

            
            <div id="move-modal-id" class="modal">
                <div id="move-modal-content-id" class="modal-content">
                    <p>All specified files, folders, and their contents will be moved
                        to the next folder clicked. If a file is clicked, all selected
                        files will be moved to the folder that file is contained in.</p>
                    <br>
                    <p>You can also drag and drop the selected files to your desired destination.</p>
                    <br>
                    <p>Click OK to continue.</p>
                    <button id="move-ok-id" class="modal-button">OK</button>
                    <button id="move-cancel-id" class="modal-button">Cancel</button>
                </div>
            </div>

            <div id="progress-modal-id" class="modal">
                <div id="progress-modal-content-id" class="modal-content">
                    <p id="progress-modal-text-id">temporary</p>

                    <button id="progress-ok-id" class="modal-button">OK</button>
                </div>
            </div>

            <div id="error-modal-id" class="modal">
                <div id="error-modal-content-id" class="modal-content">
                    <p> Error! </p>
                    <br>
                    <p id="error-modal-text-id">temporary</p>
                    <br>
                    <button id="error-ok-id" class="modal-button">OK</button>
                </div>
            </div>
        </div>
        
        
        
        

        <div id="storage-page-info-id"></div>

        <div class="headerobj">
            <div class="file-info-container">
                <div class="file-info-left">
                    <div id="name-sort-id" class="file-info-name">
                        <h4>Filename</h4>
                        <div class="arrow sort-up sorting "></div>
                    </div>
                </div>
                <div class="file-info-right">
                    <div id="modify-sort-id" class="file-info-date">
                        <div class="arrow sort-up"></div>
                        <h4>Last Modified</h4>
                    </div>
                    <div id="create-sort-id" class="file-info-date">
                        <div class="arrow sort-up"></div>
                        <h4>Created</h4>
                    </div>
                    <div id="size-sort-id" class="file-info-size">
                        <div class="arrow sort-up"></div>
                        <h4>Size</h4>
                    </div>
                </div>
            </div>
        </div> 

        <div id="file-list-id" class="file-list">
            <ul id="file-list-temp-id"></ul>
        </div>
    </div>
{% endblock %}