{% extends 'storage/base.html' %}

{% block content %}
    <h2>Public Uploads</h2>
    <h3>Upload to Amazon S3</h3>

    

    <button id="upload-modal-button-id">Upload File(s)</button>
    <div id="upload-modal-id" class="modal">
        <div id="upload-modal-content-id" class="modal-content">
            <p>Upload files to the specified DashUtil directory from 
                your computer.</p>
            <p>If no directory is chosen, files will be uploaded to the
                 top level.</p>
            <p>If a non-directory file is chosen, the file will be uploaded 
                 to that file's parent directory.</p>
            <p>Please choose only one destination, I am poor</p>
            <div>
                {% csrf_token %}
                {{ form }}
                <input type="file" id="upload-file-id" multiple>
                <button type="submit" id="upload-button-id">Upload</button>
            </div>
            <button id="upload-cancel-id">Cancel</button>
        </div>
    </div>

    <button id="download-modal-button-id">Download File(s)</button>
    <div id="download-modal-id" class="modal">
        <div id="download-modal-content-id" class="modal-content">
            <p>Download selected files from DashUtil to the specified directory 
                on your computer.</p>
            <div>
                {% csrf_token %}
                {{ form }}
                <input type="file" id="download-file-id" multiple>
                <button type="submit" id="download-button-id">Download</button>
            </div>
            <button id="download-cancel-id">Cancel</button>
        </div>
    </div>

    <button id="directory-modal-button-id">Create New Folder</button>
    <div id="directory-modal-id" class="modal">
        <div id="directory-modal-content-id" class="modal-content">
            <p>Name of New Folder:</p>
            <input id="directory-text-id" type="text"></input>
            <button id="directory-ok-id">OK</button>
            <button id="directory-cancel-id">Cancel</button>
        </div>
    </div>


    <button id="rename-modal-button-id">Rename File(s)</button>
    <div id="rename-modal-id" class="modal">
        <div id="rename-modal-content-id" class="modal-content">
            
            <p>Rename To:</p>
            <input id="rename-text-id" type="text"></input>
            <button id="rename-ok-id">OK</button>
            <button id="rename-cancel-id">Cancel</button>
        </div>
    </div>

    <button id="delete-button-id">Delete File(s)</button>
    <div id="delete-modal-id" class="modal">
        <div id="delete-modal-content-id" class="modal-content">
            <p>All specified files, directories, and their contents will be deleted.</p>
            <p>You will not be able to recover them.</p>
            <p>Are you sure you want to delete the file(s)?</p>
            <button id="delete-ok-id">OK</button>
            <button id="delete-cancel-id">Cancel</button>
        </div>
    </div>

    <button id="move-button-id">Move File(s)</button>
    <div id="move-modal-id" class="modal">
        <div id="move-modal-content-id" class="modal-content">
            <p>All specified files, directories, and their contents will be moved</p>
            <p>to the next directory clicked. If a file is clicked, all selected</p>
            <p>files will be moved to the directory that file is contained in.</p>
            <p>Click OK to continue.</p>
            <button id="move-ok-id">OK</button>
            <button id="move-cancel-id">Cancel</button>
        </div>
    </div>

    <div id="storage-page-info-id"></div>

    <div class="headerobj">
        <div class="file-info-container">
            <div class="file-info-left">
                <div id="name-sort-id" class="file-info-name">
                    <h4>Filename</h4>
                    <div class="arrow sort-up sorting "></div>
                </div>
            </div>
            <div class="file-info-right">
                <div id="modify-sort-id" class="file-info-date">
                    <div class="arrow sort-up"></div>
                    <h4>Last Modified</h4>
                </div>
                <div id="create-sort-id" class="file-info-date">
                    <div class="arrow sort-up"></div>
                    <h4>Created</h4>
                </div>
                <div id="size-sort-id" class="file-info-size">
                    <div class="arrow sort-up"></div>
                    <h4>Size</h4>
                </div>
            </div>
        </div>
    </div> 

    <div id="file-list-id" class="file-list">
        <ul id="file-list-temp-id"></ul>
    </div>

{% endblock %}