<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="public/ico/favicon.ico"> -->

        <title>DashUtil</title>

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" >
        
        <!-- Custom styles for this template -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">

    </head>
    <body>
        <div class="search-box-container">
            <input type="text" placeholder="Find Room...">
            <div class="search"></div>
        </div>
    </body>
</html>