/* storage page specific css stylings goes here */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body.dark-theme {
    --container-background-color: #080808;
    --container-border: 1px solid #1d1d1d;

    --text-color: white;
    --text-hover-color: #d6d6d6;

    --fileobj-hover-color: #242424;
    --fileobj-hover-dragto-color: #303030;
    
    --dropdown-menu-background-color: #161616;
    --dropdown-menu-background-hover-color: #848484;
    --dropdown-menu-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.1);
}


body.dark-theme .container {
    border: var(--container-border);
    background-color: var(--container-background-color);
    box-shadow: var(--dropdown-menu-shadow);
}

body.dark-theme .fileobj {
    background-color: var(--container-background-color);
}

body.dark-theme .headerobj {
    background-color: var(--container-background-color);
}
body.dark-theme .headerobj h4 {
    color: var(--text-color);
}

body.dark-theme .fileobj.selected, .fileobj.selected:hover {
    background-color: var(--fileobj-hover-color);
}

body.dark-theme .fileobj.dragto, .fileobj.selected.dragto, .fileobj.selected.dragging.dragto {
    background-color: var(--fileobj-hover-dragto-color);
}

body.dark-theme .fileobj:hover {
    background-color: var(--fileobj-hover-color);
}
body.dark-theme .fileobj .file-info-container .file-info-right .file-info-date,
body.dark-theme .fileobj .file-info-container .file-info-left .file-info-name,
body.dark-theme .fileobj .file-info-container .file-info-right .file-info-size {
    color: var(--text-color);
}
body.dark-theme .headerobj .file-info-container .file-info-left .file-info-name:hover,
body.dark-theme .headerobj .file-info-container .file-info-right .file-info-date:hover,
body.dark-theme .headerobj .file-info-container .file-info-right .file-info-size:hover {
    background-color: var(--fileobj-hover-color);
}

body.dark-theme #storage-page-info-id .file-info-container .file-info-right .file-info-date,
body.dark-theme #storage-page-info-id .file-info-container .file-info-left .file-info-name,
body.dark-theme #storage-page-info-id .file-info-container .file-info-right .file-info-size {
    color: var(--text-color);
}



body.dark-theme .arrow {
    border-color: var(--text-color);
}



body.dark-theme .menu {
    background-color: var(--dropdown-menu-background-color);
    box-shadow: var(--dropdown-menu-shadow);
}

body.dark-theme .menu-item:hover {
    background-color: var(--dropdown-menu-background-hover-color);
}
body.dark-theme .menu-item .menutext {
    color: var(--text-color);
}