/* storage page specific css stylings goes here */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    font-family: 'Fira Sans', sans-serif;
} 

.container ul, .container li {
    list-style: none;
}

.container {
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
    margin: 40px auto;
}

#main-id {
    padding-bottom: 20px;
    padding-right: 20px;
}

.fileobj {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
}

.headerobj {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerobj h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.fileobj.dragging, .fileobj.selected.dragging {
    opacity: 0.4;
}

.fileobj.dragto, .fileobj.selected.dragto, .fileobj.selected.dragging.dragto {
    opacity: 1;
}

.fileobj img.fileico {
    height: 25px;
    width: auto;
}

.file-info-container {
    display: flex;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    align-items: center;

    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.headerobj .file-info-container .file-info-left {
    margin-left: 25px;
}


.file-info-container .file-info-left {
    display: flex;
    height: 100%;
    align-items: center;
    flex: 1 1 auto;
    justify-self: flex-start;
    justify-content: flex-start;
    word-break: break-word;
}

.file-info-left .file-info-name {
    display: flex;
    margin-left: 12px;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
}

.file-info-container .file-info-right {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;
    flex: 1 1 auto;
}

.file-info-right .file-info-date {
    display: flex;
    margin-left: 25px;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    width: 12vw;
    text-align: right;
}

.file-info-right .file-info-size {
    display: flex;
    margin-left: 25px;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    width: 8vw;
    text-align: right;
}

.headerobj .file-info-container .file-info-left .file-info-name:hover,
.headerobj .file-info-container .file-info-right .file-info-date:hover,
.headerobj .file-info-container .file-info-right .file-info-size:hover { 
    cursor: pointer;
}



.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.sort-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.sort-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.file-info-name .arrow.sort-up,
.file-info-name .arrow.sort-down {
    visibility: hidden;
    margin-left: 10px;
    margin-right: 4px;
}
.file-info-date .arrow.sort-up,
.file-info-size .arrow.sort-up,
.file-info-date .arrow.sort-down,
.file-info-size .arrow.sort-down {
    visibility: hidden;
    margin-left: 4px;
    margin-right: 10px;
}
.file-info-name .arrow.sort-up.sorting,
.file-info-date .arrow.sort-up.sorting,
.file-info-size .arrow.sort-up.sorting, 
.file-info-name .arrow.sort-down.sorting,
.file-info-date .arrow.sort-down.sorting,
.file-info-size .arrow.sort-down.sorting {
    visibility: visible;
}



#storage-page-info-id {
    margin-left: -10px;
    margin-top: 40px;
}

.file-list {
    margin-left: -40px;
}


.menu {
    padding-top: 5px;
    padding-bottom: 5px;    
    display: none;
    position: absolute;
    z-index: 5;
}

.menu-item {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-item img.menuico {
    display: flex;
    justify-self: flex-start;
    justify-content: flex-start;
    height: 25px;
    width: auto;
    margin-left: 10px;
}
.menu-item .menutext {
    display: flex;
    margin-left: 30px;
    justify-self: flex-start;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    margin-right: 10px;
}